nav, content{
    padding: 10px;
}

nav{
    background-color: white;
    h1{
        margin: 0px;
    }
    border-bottom: 1px solid green;
}

:host ::ng-deep content {
    > section.summary{
        margin-bottom: 10px;
    }

    .challenges, .coaches{
        display: block;
        margin-bottom: 10px;

        h4{
            margin: 1px;
            padding: 1px;
            background-color: yellowgreen;
        }        
    }
}

