<h1 mat-dialog-title>Coach auswählen</h1>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Tust du was du möchtest?</mat-card-title>
      <mat-card-subtitle>Robert Mischke</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://picsum.photos/id/1074/600/300" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Dieser Coach lädt dich in regelmäßigen intervallen ein, dein momentanes Handeln zu hinterfragen.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Aktivieren</button>
    </mat-card-actions>
  </mat-card>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Schließen</button>
</div>